<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:data="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Admin home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<!--header start-->
<header class="header">
    <nav class="navbar navbar-expand bg-dark text-light sticky-top">
        <div class="container-fluid">
            <span>
                <span class="navbar-brand" sec:authentication="name">Username</span>
                <span class="navbar-text">with roles: </span>
                <span class="navbar-text" sec:authentication="principal.authorities">User roles</span>
                </span>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
            <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
        </div>
    </nav>
</header>
<div class="container-fluid align-items-stretch">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <nav class="col-2">

                <div class="sidebar">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active mt-1" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                           role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                        <a class="nav-link mt-1" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                           role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
                    </div>
                </div>

        </nav>
        <div class="col-10 bg-light">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="d-flex flex-column">
                        <h1 class="mb-3 mt-3">Admin panel</h1>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">New user</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <nav class="nav navbar bg-light border">
                                    <div class="nav-item">
                                        <h5>All users</h5>
                                    </div>
                                </nav>
                                <table class="table table-striped border">
                                    <thead>
                                    <th>ID</th>
                                    <th>First name</th>

                                    <th>Last name</th>

                                    <th>Age</th>

                                    <th>Email</th>

                                    <th>Role</th>

                                    <th>Edit</th>

                                    <th>Delete</th>

                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${allusers}" th:id="userId + '_' + ${user.id}">
                                        <td th:utext="${user.id}"/>
                                        <td th:utext="${user.firstname}"/>
                                        <td th:utext="${user.lastname}"/>
                                        <td th:utext="${user.age}"/>
                                        <td th:utext="${user.username}"/>
                                        <td th:utext="${user.roles}"/>
                                        <td>
                                            <button class="btn btn-primary" th:data-user_id="userId + '_' + ${user.id}"
                                                    data-toggle="modal" data-target="#edit-user-modal">Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" th:data-user_id="userId + '_' + ${user.id}"
                                                    data-toggle="modal" data-target="#delete-user-modal">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    <tr id="userId_21">
                                        <td>21</td>
                                        <td>test</td>
                                        <td>test</td>
                                        <td>11</td>
                                        <td>test@test.ru</td>
                                        <td>[]</td>
                                        <td>
                                            <button class="btn btn-primary" data-user_id="userId_21" data-toggle="modal"
                                                    data-target="#edit-user-modal">Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" data-user_id="userId_21" data-toggle="modal"
                                                    data-target="#delete-user-modal">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <nav class="nav navbar bg-light border">
                                    <div class="nav-item">
                                        <h5>Add user</h5>
                                    </div>
                                </nav>
                                <div class="col border">
                                    <form class="form" th:action="@{/admin/add}" th:method="post" id="add-user" role="form">
                                        <div class="container-fluid align-content-center">
                                            <div class="row justify-content-center text-center">
                                                <div class="col-4">
                                                    <div class="form-group mb-auto mt-auto text">
                                                        <label for="edit-user-firstname">First name</label>
                                                        <input name="firstname" type="text" class="form-control"
                                                               id="add-user-firstname">

                                                        <label for="edit-user-lastname">Last name</label>
                                                        <input name="lastname" type="text" class="form-control"
                                                               id="add-user-lastname">

                                                        <label for="edit-user-age">Age</label>
                                                        <input name="age" type="text" class="form-control" id="add-user-age">

                                                        <label for="edit-user-email">Email</label>
                                                        <input name="username" type="text" class="form-control"
                                                               id="add-user-email">

                                                        <label for="edit-user-password">Password</label>
                                                        <input name="password" type="text" class="form-control"
                                                               id="add-user-password">

                                                        <label for="edit-user-password">Role</label>
                                                        <select class="form-control" th:value="roles" multiple name="roles">
                                                            <option th:each="role : ${allRoles}" th:value="${role.id}"
                                                                    th:text="${role.roleName}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <button form="add-user" class="btn btn-success mt-2 mb-2" type="submit">Add
                                                        new
                                                        user
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="d-flex flex-column">
                        <h1 class="mb-3 mt-3">About user</h1>
                        <table class="table table-striped border">
                            <thead>
                            <th>ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:utext="${loggedUser.id}"/>
                                <td th:utext="${loggedUser.firstname}"/>
                                <td th:utext="${loggedUser.lastname}"/>
                                <td th:utext="${loggedUser.age}"/>
                                <td th:utext="${loggedUser.username}"/>
                                <td th:utext="${loggedUser.roles}"/>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Modal DELETE -->
<div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/delete}" th:method="delete" id="delete-user" role="form">
                    <div class="h5 text-center col">
                        <div class="form-group">
                            <label for="delete-user-id">ID</label>
                            <input name="id" type="text" class="form-control" id="delete-user-id" readonly>
                        </div>
                        <div class="form-group">
                            <label for="delete-user-firstname">First name</label>
                            <input name="firstname" type="text" class="form-control" id="delete-user-firstname"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label for="delete-user-lastname">Last name</label>
                            <input name="lastname" type="text" class="form-control" id="delete-user-lastname" readonly>
                        </div>
                        <div class="form-group">
                            <label for="delete-user-age">Age</label>
                            <input name="age" type="text" class="form-control" id="delete-user-age" readonly>
                        </div>
                        <div class="form-group">
                            <label for="delete-user-email">Email</label>
                            <input type="text" class="form-control" id="delete-user-email" readonly>
                        </div>
                        <div class="form-group">
                            <label for="delete-user-roles">Roles</label>
                            <input type="text" class="form-control" id="delete-user-roles" readonly>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-danger" form="delete-user" type="submit">Delete</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal EDIT -->
<div class="modal fade" id="edit-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-user-modalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/edit}" th:method="patch" id="edit-user" role="form">
                    <div class="text-center col">
                        <div class="form-group">
                            <label for="edit-user-id">ID</label>
                            <input name="id" type="text" class="form-control" id="edit-user-id" readonly>
                        </div>
                        <div class="form-group">
                            <label for="edit-user-firstname">First name</label>
                            <input name="firstname" type="text" class="form-control" id="edit-user-firstname">
                        </div>
                        <div class="form-group">
                            <label for="edit-user-lastname">Last name</label>
                            <input name="lastname" type="text" class="form-control" id="edit-user-lastname">
                        </div>
                        <div class="form-group">
                            <label for="edit-user-age">Age</label>
                            <input name="age" type="text" class="form-control" id="edit-user-age">
                        </div>
                        <div class="form-group">
                            <label for="edit-user-email">Email</label>
                            <input name="username" type="text" class="form-control" id="edit-user-email">
                        </div>
                        <div class="form-group">
                            <label for="edit-user-password">Password</label>
                            <input name="password" type="text" class="form-control" id="edit-user-password">
                        </div>
                        <label>Role</label>
                        <select class="form-control" th:value="roles" multiple name="roles">
                            <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.roleName}">
                            </option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button form="edit-user" type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $('#delete-user-modal').on('show.bs.modal', function (event) {
        $(this).find('.modal-content')
        let rowId = $(event.relatedTarget).data('user_id');
        let cells = document.getElementById(rowId).getElementsByTagName("td");
        for (var counter = 0; counter < 5; counter++) {
            console.log(cells[counter].textContent);
        }
        document.getElementById('delete-user-id').value = cells[0].textContent;
        document.getElementById('delete-user-firstname').value = cells[1].textContent;
        document.getElementById('delete-user-lastname').value = cells[2].textContent;
        document.getElementById('delete-user-age').value = cells[3].textContent;
        document.getElementById('delete-user-email').value = cells[4].textContent;
        document.getElementById('delete-user-roles').value = cells[5].textContent;

    });

    $('#edit-user-modal').on('show.bs.modal', function (event) {
        $(this).find('.modal-content')
        let rowId = $(event.relatedTarget).data('user_id');
        let cells = document.getElementById(rowId).getElementsByTagName("td");
        for (var counter = 0; counter < 5; counter++) {
            console.log(cells[counter].textContent);
        }
        document.getElementById('edit-user-id').value = cells[0].textContent;
        document.getElementById('edit-user-firstname').value = cells[1].textContent;
        document.getElementById('edit-user-lastname').value = cells[2].textContent;
        document.getElementById('edit-user-age').value = cells[3].textContent;
        document.getElementById('edit-user-email').value = cells[4].textContent;

    });
</script>
</body>
</html>