<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang = "en">
<head>
<body>
<h1>User info</h1>
<div th:replace="parts/loggeduser :: userInfo"></div>
<div>
    <table border="1">
        <tr>
            <td th:utext="${user.username}" />
            <td th:utext="${user.email}" />
            <td th:utext="${user.roles}" />
            <td th:utext="${user.password}" />
        </tr>
    </table>


</div>
<div th:replace="parts/footer :: footer"></div>
</body>
</html>