<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang = "en"
>
<head>
    <meta charset="windows-1251" />
    <title>Edit user</title>
</head>
<body>
<h1>Edit user</h1>

    <a th:href="@{/admin/users}">Back to list</a>

    <form th:action="@{/admin/users/{id}(id = ${user.getId_user()})}" th:method="patch" th:object="${user}">
        <label for="name">Name </label>
        <input name = "name" type = "text" th:field = "${user.username}" id = "name">
        <br>
        <label for="age">Age</label>
        <input name = "age" type = "text" th:field = "${user.age}" id = "age">
        <br>
        <label for="email">Email</label>
        <input name = "email" type = "text" th:field = "${user.mailAddress}" id = "email">
        <br>
        <label for="newPassword">Password</label>
        <input type = "text"  name ="newPassword" id = "newPassword">
        <input type = "hidden"  th:field = "${user.password}" id = "passwordOld">
        <br>
        <p>
            <label>Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${allRoles}"
                       th:text="${role.roleName}"
                       th:value="${role.id_role}"
                       th:field="*{roles}"
                />
            </label>
        </p>
        <input type = "submit" value = "Update">
    </form>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>