<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="windows-1251" />
    <title>User List</title>
</head>
<body>
<a th:href="@{/users}" text="back to list">Back to list</a>

<form th:action="@{/add}" th:method="post" th:object="${user}">
    <label for="name">Name </label>
    <input name = "name" type = "text" th:field = "${user.name}" id = "name">
    <br>
    <label for="age">Age</label>
    <input name = "age" type = "text" th:field = "${user.age}" id = "age">
    <br>
    <label for="email">Email</label>
    <input name = "email" type = "text" th:field = "${user.mailAddress}" id = "email">
    <input type = "submit" value = "Add user">
</form>

<div>

</div>
</body>
</html>