<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="windows-1251" />
    <title>Edit user</title>
</head>
</head>
<body>
<h1>Edit user</h1>

    <p th:text="${user.getId_user()}" />
    <p th:text="${user.getName()}" />
    <p th:text="${user.getAge()}" />

    <a th:href="@{/users}" text="back to list">Back to list</a>

    <form th:action="@{/users/{id} (id = ${user.getId_user()})}" th:method="patch" th:object="${user}">
        <label for="name">Name </label>
        <input name = "id_user" type = "hidden" th:field = "${user.id_user}" id = "id_user">
        <input name = "name" type = "text"  th:field = "${user.name}" id = "name">
        <br>
        <label for="age">Age</label>
        <input name = "age" type = "text" th:field = "${user.age}" id = "age">
        <br>
        <input type = "submit" value = "Update">
    </form>

</body>
</html>