<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <div class="navbar-brand">
                        <span sec:authentication="name"></span>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="navbar-brand">
                        <span>with roles:</span>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="navbar-brand">
                        <span sec:authentication="principal.authorities"></span>
                    </div>
                </li>
            </ul>
            <a th:href="@{/logout}" class="nav-link text-light">Logout</a>
        </div>
    </nav>
</header>

</body>
</html>